*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    line-height: 1.6;

    /*font-family: font stack required for body text */
}

body {
    font-family: Roboto, Times New Roman, sans-serif;
    padding: 2px;
    margin: 10px;

}

h1,
h2,
h3,
h4 {
    /*font-family: font stack required for headings */
    font-family: Roboto Slab, Arial, serif;


}

p {}

.container {
    max-width: 1500px;;
    height: auto;
    margin: auto;
}

.subnav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;



}

.subnav a {
    margin-right: 10px;
    color: hsl(250 0% 0%)
}


.mainnav {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;

}

.mainnav a {
    background-color: hsl(160 70% 90%);
    font-size: 1.5rem;
    border: double 4px hsl(250 80% 50%);
    width: 25%;
    position: relative;
    font-size: 1.7vw;
    color: hsl(250 0% 0%);

}

.mainnav a:visited {
    text-decoration: line-through;
}

.masthead {
    position: relative;
    background-color: hsl(160 70% 90%);
    max-width: 100%;
    height: auto
}

.times-logo {
    width: 100%;
    height: auto;
    position: relative;


}

.masthead h1 {
    font-weight: 600;
    text-align: center;
    font-size: 5vw;
    border-right: double 4px hsl(250 80% 50%);
    border-left: double 4px hsl(250 80% 50%);
    border-top: double 4px hsl(250 80% 50%);
    text-shadow: 2px 2px hsl(250 0% 0%);
    color: hsl(160 70% 70%);
}

.content {
}

.content .story {



}
article:nth-child(1){
    margin-top: 10px;
    border-left: dashed 4px hsl(160 70% 70%);
    border-right: dashed 4px hsl(160 70% 70%);
    padding-bottom: 90px;
}
article:nth-child(2){

    border-top: dashed 4px hsl(160 70% 70%);
    border-left: dashed 4px hsl(160 70% 70%);
    border-right: dashed 4px hsl(160 70% 70%);

}
.byline{
    text-align: center;
    text-decoration: underline;
}
p{

}

article:nth-child(3){
    border-top: dashed 4px hsl(160 70% 70%);
    border-left: dashed 4px hsl(160 70% 70%);
    border-right: dashed 4px hsl(160 70% 70%);

}

.story.lead-story h1{
    font-size: 3.5vw;
}





h1.story-title {
    text-shadow: 2px 2px hsl(250 0% 40%);
    text-align: center;
    text-decoration: underline;
    font-size: 3vw;
    color: hsl(160 70% 40%);

}

.story img {
    float:left;
    width: 25%;
    margin: 10px;
    position: relative;
    bottom: 100px;
}

.story p {
    width: auto;
    margin: 4px;
}

.story blockquote {
    margin: 4px;
    quotes: "\201C""\201D";
    text-decoration: underline
}

.story blockquote::before {
    content: open-quote;
    font-weight: 600;
}

.story blockquote::after {
    content: close-quote;
    font-weight: 600;


}

.story p.byline {}

p.byline span.author {

}

p.byline span.pub {}

.foot {}

.foot p {}
