*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html {
    font-size: 1vw;
    line-height: 1.6;

    /*font-family: font stack required for body text */
}

body {
    font-family: Roboto, Times New Roman, sans-serif;
    padding: 2px;
    margin: 10px;

}
:root{
    --fontOne: 2.441rem;
    --fontTwo: 1.953rem;
    --fontThree: 1.563rem;
    --fontFour: 1.25rem;
    --fontFive: 1rem;
    --fontOSix: 0.8rem;
    --fontSpecialOne: 3.5vw;
    --fontSpecialTwo: 3vw;
    --fontSpecialThree: 2.5vw;
    --hueOne: 250;
    --hueTwo: 160;

}

h1,
h2,
h3,
h4 {
    /*font-family: font stack required for headings */
    font-family: Roboto Slab, Arial, serif;



}

p {}

.container {
    max-width: 1500px;;
    height: auto;
    margin: auto;
}

.subnav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;



}

.subnav a {
    margin-right: 10px;
    color: hsl(var(--hueOne) 0% 0%)
}


.mainnav {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;

}

.mainnav a {
    background-color: hsl(var(--hueTwo) 70% 90%);
    font-size: 1.5rem;
    border: double 4px hsl(var(--hueOne) 80% 50%);
    width: 25%;
    position: relative;
    font-size: 1.7vw;
    color: hsl(var(--hueOne) 0% 0%);

}

.mainnav a:visited {
    text-decoration: line-through;
}

.masthead {
    position: relative;
    background-color: hsl(var(--hueTwo) 70% 90%);
    max-width: 100%;
    height: auto
}

.times-logo {
    width: 100%;
    height: auto;
    position: relative;


}

.masthead h1 {
    font-weight: 600;
    text-align: center;
    font-size: var(--fontSpecialOne);
    border-right: double 4px hsl(var(--hueOne) 80% 50%);
    border-left: double 4px hsl(var(--hueOne) 80% 50%);
    border-top: double 4px hsl(var(--hueOne) 80% 50%);
    text-shadow: 2px 2px hsl(var(--hueOne) 0% 0%);
    color: hsl(160 70% 70%);

}

.content {
}

.content .story {



}
article:nth-child(1){
    margin-top: 10px;
    border-left: dashed 4px hsl(var(--hueTwo) 70% 90%);
    border-right: dashed 4px hsl(var(--hueTwo) 70% 90%);
    padding-bottom: 90px;

}
article:nth-child(2){

    border-top: dashed 4px hsl(var(--hueTwo) 70% 90%);
    border-left: dashed 4px hsl(var(--hueTwo) 70% 90%);
    border-right: dashed 4px hsl(var(--hueTwo) 70% 90%);

}
article:nth-child(3){
    border-top: dashed 4px hsl(var(--hueTwo) 70% 90%);
    border-left: dashed 4px hsl(var(--hueTwo) 70% 90%);
    border-right: dashed 4px hsl(var(--hueTwo) 70% 90%);

}
.byline{
    text-align: center;
    text-decoration: underline;
}
p{

}



.story.lead-story h1{
    font-size: var(--fontSpecialTwo);
}





h1.story-title {
    text-shadow: 2px 2px hsl(var(--hueOne) 0% 40%);
    text-align: center;
    text-decoration: underline;
    font-size: var(--fontSpecialThree);
    color: hsl(var(--hueTwo) 70% 40%);

}

.story img {
    float:left;
    width: 25%;
    margin: 10px;
    position: relative;
    bottom: 40px
}

.story p {
    width: auto;
    margin: 4px;
}

.story blockquote {
    margin: 4px;
    quotes: "\201C""\201D";
    text-decoration: underline
}

.story blockquote::before {
    content: open-quote;
    font-weight: 600;
}

.story blockquote::after {
    content: close-quote;
    font-weight: 600;


}

.story p.byline {}

p.byline span.author {

}

p.byline span.pub {}

.foot {}

.foot p {}
